body
{
    color: white;
    background-image: linear-gradient(to bottom right, aqua, magenta, yellow, rgb(117, 178, 89), rgb(89, 111, 184));
}
.heading
{
    width: 80%;
    font-size: 22px;
}
#camera, #result
{
    border: 10px ridge white;
    width: 350px;
    height: 300px;
}
.name_of_objects, #result_object_name, #result_object_accuracy
{
    color:darkblue
}